$letter_spacing: 15px;
//home light block: z-index: 1
//home dark block: z-index: 2
//gallery: z-index: 3

.home{
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    .home_light_block, .home_dark_block{
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .home_light_block{
        z-index: 1;
        .home_logo{
            background-color: #000;
            .home_logo_block{
                background-color: #fff;
            }
        }
    }
    .home_dark_block{
        transition: clip-path $homeTransitionTiming $homeEasing;
        z-index: 2;
        clip-path: polygon(52% 0, 100% 0, 100% 100%, 47.4% 100%);
        .home_logo{
            background-color: #fff;
            .home_logo_block{
                background-color: rgb(0, 0, 0);
            }
        }
    }

    //backgrounds
    .canvas, .home_darken_background{
        position: absolute;
        height: 100%;
        cursor: pointer;
    }
    .canvas{
        z-index: -1;
        width: 100%;
        background-color: $lightBG;
    }
    .home_darken_background{
        z-index: 1;
        width: 100%;
        //temp color
        background-color: rgb(85, 24, 24); //$darkBG;

    }
}
.home_item_absolute_wrapper{
    position: absolute;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
  
}
.home_item_absolute_wrapper.item_1, .home_item_absolute_wrapper.item_3{
    width: 40%;
}
.home_item_absolute_wrapper.item_1{
    left: 0;
}
.home_item_absolute_wrapper.item_2{
    width: 20%;
    left: 40%;
}
.home_item_absolute_wrapper.item_3{
    left: 60%;
}
#developer_btn_flex_wrapper{
    top: -16px;
    transition: width 0.4s cubic-bezier(0.72, 0.01, 0.12, 0.99);
}

.home_symetery_block{
    width: 150px;
}
.home_symetery_block.symetery_btn{
    position: relative;
    width: 275px;
}


//other content
.home_btn{
    position: absolute;
    left: 55%;
    transform: translate(-55%, 0);
    h3{
        position: absolute;
        overflow: hidden;
        width: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        font-family: Italic;
        letter-spacing: $letter_spacing;
        padding: 7px 20px;
    }
    .home_btn_hover{
        transition: clip-path $homeTransitionTiming $homeEasing;
        position: relative;
        z-index: 2;
        // hiding clip path
        clip-path: polygon(2% 0, 2% 0, 0 100%, 0% 100%);    

        width: calc(100% - #{$letter_spacing});    
        .home_btn_hover_background{
            content: '';
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            transform: skew(-7deg);
        }
    }
}
.symetery_btn{
    height: 37px;
}
.home_black_btn{
    width: calc(260px + #{$letter_spacing});
    h3{
        color: #000;
    }
    .home_btn_hover{
        color: #fff;
        .home_btn_hover_background{
            background-color: #000; 
        }
    }
}
.home_white_btn{
    width: calc(175px + #{$letter_spacing});
    h3{
        color: #fff;
    }
    .home_btn_hover{
        color: #000;
        .home_btn_hover_background{
            background-color: #fff; 
        }
    }
}

//home logo
.home_logo{
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    height: 140px;
    width: 140px;
    .home_logo_block{
        height: 100%;
        width: 100%;
    }
    .home_logo_block:nth-of-type(1){
        grid-column: 1/2;
        grid-row: 1/3;
        height: 80%;
    }
    .home_logo_block:nth-of-type(2){
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .home_logo_block:nth-of-type(3){
        grid-column: 2/3;
        grid-row: 2/3;
    }
}