@font-face {
  font-family: Italic;
  src: url("../fonts/Roboto-Italic.ttf");
}

@font-face {
  font-family: Bebas;
  src: url("../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: Bold;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: Thin;
  src: url("../fonts/Roboto-Thin.ttf");
}

.home {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.home .home_light_block, .home .home_dark_block {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .home_light_block {
  z-index: 1;
}

.home .home_light_block .home_logo {
  background-color: #000;
}

.home .home_light_block .home_logo .home_logo_block {
  background-color: #fff;
}

.home .home_dark_block {
  -webkit-transition: -webkit-clip-path 0.7s cubic-bezier(0.07, 0.99, 0.36, 0.99);
  transition: -webkit-clip-path 0.7s cubic-bezier(0.07, 0.99, 0.36, 0.99);
  transition: clip-path 0.7s cubic-bezier(0.07, 0.99, 0.36, 0.99);
  transition: clip-path 0.7s cubic-bezier(0.07, 0.99, 0.36, 0.99), -webkit-clip-path 0.7s cubic-bezier(0.07, 0.99, 0.36, 0.99);
  z-index: 2;
  -webkit-clip-path: polygon(52% 0, 100% 0, 100% 100%, 47.4% 100%);
          clip-path: polygon(52% 0, 100% 0, 100% 100%, 47.4% 100%);
}

.home .home_dark_block .home_logo {
  background-color: #fff;
}

.home .home_dark_block .home_logo .home_logo_block {
  background-color: black;
}

.home .canvas, .home .home_darken_background {
  position: absolute;
  height: 100%;
  cursor: pointer;
}

.home .canvas {
  z-index: -1;
  width: 100%;
  background-color: #dddddd;
}

.home .home_darken_background {
  z-index: 1;
  width: 100%;
  background-color: #551818;
}

.home_item_absolute_wrapper {
  position: absolute;
  z-index: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_item_absolute_wrapper.item_1, .home_item_absolute_wrapper.item_3 {
  width: 40%;
}

.home_item_absolute_wrapper.item_1 {
  left: 0;
}

.home_item_absolute_wrapper.item_2 {
  width: 20%;
  left: 40%;
}

.home_item_absolute_wrapper.item_3 {
  left: 60%;
}

#developer_btn_flex_wrapper {
  top: -16px;
  -webkit-transition: width 0.4s cubic-bezier(0.72, 0.01, 0.12, 0.99);
  transition: width 0.4s cubic-bezier(0.72, 0.01, 0.12, 0.99);
}

.home_symetery_block {
  width: 150px;
}

.home_symetery_block.symetery_btn {
  position: relative;
  width: 275px;
}

.home_btn {
  position: absolute;
  left: 55%;
  -webkit-transform: translate(-55%, 0);
          transform: translate(-55%, 0);
}

.home_btn h3 {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  font-family: Italic;
  letter-spacing: 15px;
  padding: 7px 20px;
}

.home_btn .home_btn_hover {
  -webkit-transition: -webkit-clip-path 0.7s cubic-bezier(0.07, 0.99, 0.36, 0.99);
  transition: -webkit-clip-path 0.7s cubic-bezier(0.07, 0.99, 0.36, 0.99);
  transition: clip-path 0.7s cubic-bezier(0.07, 0.99, 0.36, 0.99);
  transition: clip-path 0.7s cubic-bezier(0.07, 0.99, 0.36, 0.99), -webkit-clip-path 0.7s cubic-bezier(0.07, 0.99, 0.36, 0.99);
  position: relative;
  z-index: 2;
  -webkit-clip-path: polygon(2% 0, 2% 0, 0 100%, 0% 100%);
          clip-path: polygon(2% 0, 2% 0, 0 100%, 0% 100%);
  width: calc(100% - 15px);
}

.home_btn .home_btn_hover .home_btn_hover_background {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: skew(-7deg);
          transform: skew(-7deg);
}

.symetery_btn {
  height: 37px;
}

.home_black_btn {
  width: calc(260px + 15px);
}

.home_black_btn h3 {
  color: #000;
}

.home_black_btn .home_btn_hover {
  color: #fff;
}

.home_black_btn .home_btn_hover .home_btn_hover_background {
  background-color: #000;
}

.home_white_btn {
  width: calc(175px + 15px);
}

.home_white_btn h3 {
  color: #fff;
}

.home_white_btn .home_btn_hover {
  color: #000;
}

.home_white_btn .home_btn_hover .home_btn_hover_background {
  background-color: #fff;
}

.home_logo {
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  height: 140px;
  width: 140px;
}

.home_logo .home_logo_block {
  height: 100%;
  width: 100%;
}

.home_logo .home_logo_block:nth-of-type(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  height: 80%;
}

.home_logo .home_logo_block:nth-of-type(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.home_logo .home_logo_block:nth-of-type(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.about_btn {
  overflow: hidden;
  display: block;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  right: 0;
  padding: 10px 20px 5px 0;
  height: 50px;
}

.about_btn h4 {
  color: #fff;
  font-family: Italic;
}

.about_btn .about_bottom_line {
  -webkit-transition: right 0.3s cubic-bezier(0.36, 1.03, 0.85, 0.96);
  transition: right 0.3s cubic-bezier(0.36, 1.03, 0.85, 0.96);
  position: absolute;
  right: -105px;
  top: 35px;
  height: 1px;
  width: 100%;
  background-color: #fff;
}

.about_btn:hover .about_bottom_line {
  right: 0;
}

.about {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about .about_canvas, .about .about_content_background {
  position: absolute;
  height: 100%;
}

.about .about_canvas {
  -webkit-transition: left 1s cubic-bezier(0.72, 0.01, 0.12, 0.99);
  transition: left 1s cubic-bezier(0.72, 0.01, 0.12, 0.99);
  width: 100%;
  z-index: 10;
  left: -100%;
  background-color: #111111;
}

.about .about_content_background {
  -webkit-transition: right 1.2s cubic-bezier(0.72, 0.01, 0.12, 0.99);
  transition: right 1.2s cubic-bezier(0.72, 0.01, 0.12, 0.99);
  -webkit-transform: skew(-5deg);
          transform: skew(-5deg);
  z-index: 11;
  right: -108%;
  padding-left: 20px;
  width: 45%;
  background-color: #dddddd;
}

.about .about_content_background .about_content_wrapper {
  direction: rtl;
  margin: 80px 0 0 0;
  padding: 0 0 0 40px;
  max-width: 70%;
  max-height: calc(87% - 80px);
  overflow-y: scroll;
  text-align: left;
  /* Track */
  /* Handle */
}

.about .about_content_background .about_content_wrapper h1 {
  direction: ltr;
  font-family: Bebas;
  font-size: 124px;
  margin-top: -30px;
}

.about .about_content_background .about_content_wrapper h3 {
  font-family: Bold;
}

.about .about_content_background .about_content_wrapper a, .about .about_content_background .about_content_wrapper p, .about .about_content_background .about_content_wrapper li {
  font-weight: bold;
  font-family: Thin;
  font-size: 14px;
  margin: 4px 0;
}

.about .about_content_background .about_content_wrapper a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: #111111;
}

.about .about_content_background .about_content_wrapper a:hover {
  color: #8f8f8f;
}

.about .about_content_background .about_content_wrapper p {
  background-color: none;
  color: gray;
}

.about .about_content_background .about_content_wrapper .about_short_biography {
  font-size: 16px;
}

.about .about_content_background .about_content_wrapper .about_flex_list {
  text-align: left;
}

.about .about_content_background .about_content_wrapper .about_info_block {
  margin-top: 50px;
}

.about .about_content_background .about_content_wrapper .about_info_block h3 {
  position: relative;
  margin-bottom: 20px;
}

.about .about_content_background .about_content_wrapper .about_info_block h3:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #111111;
}

.about .about_content_background .about_content_wrapper .about_info_block .awards_item {
  direction: ltr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about_content_background .about_content_wrapper .about_info_block .awards_item p {
  margin-left: 50px;
  color: #8f8f8f;
}

.about .about_content_background .about_content_wrapper::-webkit-scrollbar {
  width: 3px;
}

.about .about_content_background .about_content_wrapper::-webkit-scrollbar-track {
  background-color: #dddddd;
}

.about .about_content_background .about_content_wrapper::-webkit-scrollbar-thumb {
  background: rgba(17, 17, 17, 0.6);
  border-radius: 20px;
}

.gallery {
  -webkit-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
}

.artist_gallery_wrapper {
  background-color: #111111;
}

.gallery_loader_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  background-color: #fff;
}

.gallery_loader {
  position: relative;
  width: 100%;
  height: 100%;
}

.gallery_loader .loader_innerSquare {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #000;
}

.gallery_loader .loader_innerSquare:nth-of-type(1) {
  top: 5px;
  left: 5px;
}

.gallery_loader .loader_innerSquare:nth-of-type(2) {
  top: 5px;
  right: 5px;
}

.gallery_loader .loader_innerSquare:nth-of-type(3) {
  bottom: 5px;
  right: 5px;
}

.gallery_loader .loader_innerSquare:nth-of-type(4) {
  bottom: 5px;
  left: 5px;
}

.gallery_content {
  position: absolute;
  display: none;
  top: 100px;
  width: calc(100vw - 200px);
  right: 0;
  overflow-x: scroll;
  padding-left: 50px;
  padding-bottom: 20px;
  margin-left: 50px;
}

.gallery_cards_wrapper {
  margin-right: 30px;
  -webkit-transform: matrix(1, 0, -0.08715, 0.99619, 0, 0);
          transform: matrix(1, 0, -0.08715, 0.99619, 0, 0);
  display: -ms-grid;
  display: grid;
  gap: 15px;
  height: 100%;
}

.gallery_cards_wrapper .gallery_item {
  cursor: pointer;
  height: 100%;
}

.gallery_cards_wrapper .gallery_item img {
  height: 100%;
  width: 100%;
}

.gallery_cards_wrapper:nth-of-type(odd) {
  -ms-grid-columns: (300px)[2];
      grid-template-columns: repeat(2, 300px);
  -ms-grid-rows: 170px 300px;
      grid-template-rows: 170px 300px;
}

.gallery_cards_wrapper:nth-of-type(odd) .gallery_item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.gallery_cards_wrapper:nth-of-type(odd) .gallery_item:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.gallery_cards_wrapper:nth-of-type(odd) .gallery_item:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.gallery_cards_wrapper:nth-of-type(even) {
  -ms-grid-columns: (300px)[2];
      grid-template-columns: repeat(2, 300px);
  -ms-grid-rows: 300px 170px;
      grid-template-rows: 300px 170px;
}

.gallery_cards_wrapper:nth-of-type(even) .gallery_item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.gallery_cards_wrapper:nth-of-type(even) .gallery_item:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.gallery_cards_wrapper:nth-of-type(even) .gallery_item:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.gallery_item {
  position: relative;
}

.gallery_item img {
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.gallery_item .gallery_text_block {
  position: absolute;
  height: 80%;
  width: 100%;
  top: 0;
  overflow: hidden;
}

.gallery_item h1 {
  will-change: transform;
  -webkit-transform: matrix(1, 0, 0.08715, 0.99619, 0, 0);
          transform: matrix(1, 0, 0.08715, 0.99619, 0, 0);
  font-family: Bold;
  position: absolute;
  z-index: 2;
  left: 10px;
  color: #fff;
}

.gallery_item::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.gallery_item:hover img {
  opacity: 0.5;
}

.gallery_item:hover h1 {
  bottom: 0;
}

.article {
  -webkit-transition: -webkit-clip-path 1s cubic-bezier(0.72, 0.01, 0.12, 0.99);
  transition: -webkit-clip-path 1s cubic-bezier(0.72, 0.01, 0.12, 0.99);
  transition: clip-path 1s cubic-bezier(0.72, 0.01, 0.12, 0.99);
  transition: clip-path 1s cubic-bezier(0.72, 0.01, 0.12, 0.99), -webkit-clip-path 1s cubic-bezier(0.72, 0.01, 0.12, 0.99);
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  position: absolute;
  top: 0;
  z-index: 110;
  padding-top: 15vh;
  width: 100vw;
  height: 100vh;
  background-color: #111111;
}

.article_content_wrapper {
  width: 75vw;
  margin: 0 auto;
}

.article_image_text {
  position: relative;
  width: 75vw;
  height: 70vh;
}

.article_image_text h1 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 100px;
}

.article_image_text p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.article_image_text .article_title_image {
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 75vw;
  height: 100%;
}

.article_image_text img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article_image_text .article_text_box {
  overflow: hidden;
  color: #fff;
  position: absolute;
  bottom: 40%;
  left: -100px;
}

.article_sticky_content {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70vh;
  top: 15vh;
  left: 88vw;
}

.article_sticky_content a {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  display: block;
  color: #fff;
  margin-top: 5px;
  font-family: "Open Sans Condensed", Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.article_sticky_content a:hover {
  color: #8f8f8f;
}

.article_sticky_content .article_sticky_line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 15px 0;
}

.article_sticky_content .article_cross {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.07, 0.99, 0.36, 0.99);
  transition: -webkit-transform 0.4s cubic-bezier(0.07, 0.99, 0.36, 0.99);
  transition: transform 0.4s cubic-bezier(0.07, 0.99, 0.36, 0.99);
  transition: transform 0.4s cubic-bezier(0.07, 0.99, 0.36, 0.99), -webkit-transform 0.4s cubic-bezier(0.07, 0.99, 0.36, 0.99);
  display: block;
  cursor: pointer;
  position: relative;
  height: 30px;
  width: 30px;
}

.article_sticky_content .article_cross .article_cross_line {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30px;
  width: 4px;
  background-color: #fff;
}

.article_sticky_content .article_cross .article_cross_line:nth-of-type(1) {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.article_sticky_content .article_cross .article_cross_line:nth-of-type(2) {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.article_sticky_content .article_icons {
  margin-left: -7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article_sticky_content .article_icons img {
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.article_sticky_content .article_icons img:hover {
  opacity: 0.6;
}

.article_additional_image {
  margin-top: 20px;
  width: 75vw;
}

.article_arrow_up {
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  margin: 50px auto;
}

.article_arrow_up .line {
  position: absolute;
  top: 0;
  height: 2px;
  width: 30px;
  background-color: #fff;
}

.article_arrow_up .line:nth-of-type(1) {
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.article_arrow_up .line:nth-of-type(2) {
  right: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*::-moz-selection {
  background-color: transparent;
}

*::selection {
  background-color: transparent;
}

.whiteCanvas {
  display: none;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html, body, .whole_content_wrapper {
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
}

.visibility_hidden {
  visibility: hidden;
}

.matrix_normalize {
  -webkit-transform: matrix(1, 0, 0.08715, 1, 0, 0);
          transform: matrix(1, 0, 0.08715, 1, 0, 0);
}
/*# sourceMappingURL=index.css.map */