@font-face {
  font-family: Italic;
  src: url("../fonts/Roboto-Italic.ttf");
}

@font-face {
  font-family: Bebas;
  src: url("../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: Bold;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: Thin;
  src: url("../fonts/Roboto-Thin.ttf");
}

.home {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.home .home_light_block, .home .home_dark_block {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .home_light_block {
  z-index: 1;
}

.home .home_light_block .home_logo {
  background-color: #000;
}

.home .home_light_block .home_logo .home_logo_block {
  background-color: #fff;
}

.home .home_dark_block {
  -webkit-transition: -webkit-clip-path 0.7s cubic-bezier(0.11, 0.7, 0, 0.99);
  transition: -webkit-clip-path 0.7s cubic-bezier(0.11, 0.7, 0, 0.99);
  transition: clip-path 0.7s cubic-bezier(0.11, 0.7, 0, 0.99);
  transition: clip-path 0.7s cubic-bezier(0.11, 0.7, 0, 0.99), -webkit-clip-path 0.7s cubic-bezier(0.11, 0.7, 0, 0.99);
  z-index: 2;
  -webkit-clip-path: polygon(52% 0, 100% 0, 100% 100%, 47.4% 100%);
          clip-path: polygon(52% 0, 100% 0, 100% 100%, 47.4% 100%);
}

.home .home_dark_block .home_logo {
  background-color: #fff;
}

.home .home_dark_block .home_logo .home_logo_block {
  background-color: black;
}

.home .canvas, .home .home_darken_background {
  position: absolute;
  height: 100%;
  cursor: pointer;
}

.home .canvas {
  z-index: -1;
  width: 100%;
  background-color: #dddddd;
}

.home .home_darken_background {
  z-index: 1;
  width: 100%;
  background-color: #551818;
}

.home_symetery_block {
  width: 150px;
}

.home_btn {
  position: relative;
  cursor: pointer;
}

.home_btn h3 {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  font-family: Italic;
  letter-spacing: 15px;
  padding: 7px 20px;
}

.home_btn .home_btn_hover {
  -webkit-transition: -webkit-clip-path 0.7s cubic-bezier(0.11, 0.7, 0, 0.99);
  transition: -webkit-clip-path 0.7s cubic-bezier(0.11, 0.7, 0, 0.99);
  transition: clip-path 0.7s cubic-bezier(0.11, 0.7, 0, 0.99);
  transition: clip-path 0.7s cubic-bezier(0.11, 0.7, 0, 0.99), -webkit-clip-path 0.7s cubic-bezier(0.11, 0.7, 0, 0.99);
  position: relative;
  z-index: 2;
  -webkit-clip-path: polygon(3% 0, 3% 0, 0 100%, 0% 100%);
          clip-path: polygon(3% 0, 3% 0, 0 100%, 0% 100%);
  width: calc(100% - 15px);
}

.home_btn .home_btn_hover .home_btn_hover_background {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: skew(-7deg);
          transform: skew(-7deg);
}

.home_black_btn {
  width: calc(260px + 15px);
  margin-left: 60px;
}

.home_black_btn h3 {
  color: #000;
}

.home_black_btn .home_btn_hover {
  color: #fff;
}

.home_black_btn .home_btn_hover .home_btn_hover_background {
  background-color: #000;
}

.home_white_btn {
  width: calc(175px + 15px);
  margin-left: -120px;
}

.home_white_btn h3 {
  color: #fff;
}

.home_white_btn .home_btn_hover {
  color: #000;
}

.home_white_btn .home_btn_hover .home_btn_hover_background {
  background-color: #fff;
}

.home_logo {
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  height: 140px;
  width: 140px;
}

.home_logo .home_logo_block {
  height: 100%;
  width: 100%;
}

.home_logo .home_logo_block:nth-of-type(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  height: 80%;
}

.home_logo .home_logo_block:nth-of-type(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.home_logo .home_logo_block:nth-of-type(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.about_btn {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 0;
  padding: 10px 20px 5px 0;
}

.about_btn h4 {
  color: #fff;
  font-family: Italic;
}

.about_btn .about_bottom_line {
  -webkit-transition: right 0.1s ease-in;
  transition: right 0.1s ease-in;
  position: relative;
  right: -100px;
  top: 7px;
  height: 1px;
  width: 150%;
  background-color: #fff;
}

.about_btn:hover .about_bottom_line {
  right: 0;
}

.about {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about .about_canvas, .about .about_content_background {
  position: absolute;
  height: 100%;
}

.about .about_canvas {
  -webkit-transition: left 1s cubic-bezier(0.72, 0.01, 0.12, 0.99);
  transition: left 1s cubic-bezier(0.72, 0.01, 0.12, 0.99);
  width: 100%;
  z-index: 10;
  left: -100%;
  background-color: #111111;
}

.about .about_content_background {
  -webkit-transition: right 1.2s cubic-bezier(0.72, 0.01, 0.12, 0.99);
  transition: right 1.2s cubic-bezier(0.72, 0.01, 0.12, 0.99);
  -webkit-transform: skew(-5deg);
          transform: skew(-5deg);
  z-index: 11;
  right: -108%;
  padding-left: 20px;
  width: 45%;
  background-color: #dddddd;
}

.about .about_content_background .about_content_wrapper {
  direction: rtl;
  margin: 80px 0 0 0;
  padding: 0 0 0 40px;
  max-width: 70%;
  max-height: calc(87% - 80px);
  overflow-y: scroll;
  text-align: left;
  /* Track */
  /* Handle */
}

.about .about_content_background .about_content_wrapper h1 {
  direction: ltr;
  font-family: Bebas;
  font-size: 124px;
  margin-top: -30px;
}

.about .about_content_background .about_content_wrapper h3 {
  font-family: Bold;
}

.about .about_content_background .about_content_wrapper a, .about .about_content_background .about_content_wrapper p, .about .about_content_background .about_content_wrapper li {
  font-weight: bold;
  font-family: Thin;
  font-size: 14px;
  margin: 4px 0;
}

.about .about_content_background .about_content_wrapper a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: #111111;
}

.about .about_content_background .about_content_wrapper a:hover {
  color: #8f8f8f;
}

.about .about_content_background .about_content_wrapper p {
  background-color: none;
  color: gray;
}

.about .about_content_background .about_content_wrapper .about_short_biography {
  font-size: 16px;
}

.about .about_content_background .about_content_wrapper .about_flex_list {
  text-align: left;
}

.about .about_content_background .about_content_wrapper .about_info_block {
  margin-top: 50px;
}

.about .about_content_background .about_content_wrapper .about_info_block h3 {
  position: relative;
  margin-bottom: 20px;
}

.about .about_content_background .about_content_wrapper .about_info_block h3:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #111111;
}

.about .about_content_background .about_content_wrapper .about_info_block .awards_item {
  direction: ltr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about_content_background .about_content_wrapper .about_info_block .awards_item p {
  margin-left: 50px;
  color: #8f8f8f;
}

.about .about_content_background .about_content_wrapper::-webkit-scrollbar {
  width: 3px;
}

.about .about_content_background .about_content_wrapper::-webkit-scrollbar-track {
  background-color: #dddddd;
}

.about .about_content_background .about_content_wrapper::-webkit-scrollbar-thumb {
  background: rgba(17, 17, 17, 0.6);
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: transparent;
}

*::selection {
  background-color: transparent;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.visibility_hidden {
  visibility: hidden;
}
/*# sourceMappingURL=index.css.map */